

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'outfit', sans-serif;
}
.page1 {
    background-color: rgb(255, 0, 0);
}
.page2 {
    background-color: rgb(0, 250, 62);
}
.page3 {
    background-color: rgb(30, 255, 225);
}
.page4 {
    background-color: rgb(173, 30, 255);
}
.page5 {
    background-color: rgb(30, 34, 255);
}
.page6 {
    background-color: rgb(255, 251, 30);
}
.page7 {
    background-color: rgb(0, 0, 0);
}
.interface{
    height: 100vh;
    overflow-y: scroll;

    
}
section {
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    
}